img {
  max-width: 100%;
  border-top: 4px;
}
article {
  border: solid blanchedalmond;
  border-radius: 6px;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
}

.valgt {
  border: solid salmon;
  border-radius: 6px;
}
