html {
  --primary_text_color: #e8e8e8;
  --secondary_text_color: #454545;
  --h2_size: 3rem;
  --h3_size: 2rem;
  --knap_valgt_farve: black;
  --p_size_popup: 1.5rem;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}
nav {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  font-family: rodchenko;
  text-decoration: underline;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: var(--primary_text_color);
}
h2 {
  font-family: rodchenko;
  color: var(--primary_text_color);
  font-size: var(--h2_size);
  margin: 0;
  padding-block-start: 0.5rem;
}
h3 {
  font-size: var(--h3_size);
  font-family: rodchenko;
  color: var(--primary_text_color);
}
p {
  font-family: rodchenko;
  color: var(--primary_text_color);
  font-size: 1.3rem;
}
.pris {
  font-family: rodchenko;
  text-decoration: underline;
  color: var(--primary_text_color);
  font-size: 3rem;
}

#loopview_img {
  max-width: 100%;
  object-fit: fill;
  transition: transform 0.5s ease;
}

article:hover {
  box-shadow: 1px 1px 0 0 black, 2px 2px 0 0 black, 3px 3px 0 0 black, 4px 4px 0 0 black, 5px 5px 0 0 black, 6px 6px 0 0 black;
  transform: translate(-7px, -7px);
}

.overflow {
  aspect-ratio: 16/9;
  overflow: hidden;
}

.bestil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

article {
  transition: all 0.15s linear 0s;
  box-shadow: 1px 1px 0 0 black, 2px 2px 0 0 black, 3px 3px 0 0 black, 4px 4px 0 0 black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.187);
  padding-inline: 1rem;
  padding-block-start: 1rem;
  border-radius: 2px;
  cursor: pointer;
}
body {
  background: rgba(255, 0, 0, 0.76);
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-block: 2rem;
  padding-block: 1rem;
}

.valgt {
  background-color: var(--knap_valgt_farve);
  box-shadow: 1px 1px 0 0 var(--primary_text_color), 2px 2px 0 0 var(--primary_text_color), 3px 3px 0 0 var(--primary_text_color), 4px 4px 0 0 var(--primary_text_color), 5px 5px 0 0 var(--primary_text_color), 6px 6px 0 0 var(--primary_text_color), 7px 7px 0 0 var(--primary_text_color), 8px 8px 0 0 var(--primary_text_color), 9px 9px 0 0 var(--primary_text_color), 10px 10px 0 0 var(--primary_text_color), 11px 11px 0 0 var(--primary_text_color), 12px 12px 0 0 var(--primary_text_color);
  color: #fff;
  transform: translate(-7px, -7px);
}

button {
  transition: all 0.15s linear 0s;
  border-style: none;
  top: 0;
  left: 0;
  padding: 15px 45px;
  box-shadow: 1px 1px 0 0 black, 2px 2px 0 0 black, 3px 3px 0 0 black, 4px 4px 0 0 black;
  text-align: center;
  text-transform: uppercase;
  font-family: rodchenko;
  font-weight: 1000;
  transition: var(--transition_1s);
  color: var(--knap_valgt_farve);
  border-radius: 1px;
  display: block;
  cursor: pointer;
}

button:hover {
  transition: all 0.15s linear 0s;
  box-shadow: 1px 1px 0 0 var(--primary_text_color), 2px 2px 0 0 var(--primary_text_color), 3px 3px 0 0 var(--primary_text_color), 4px 4px 0 0 var(--primary_text_color), 5px 5px 0 0 var(--primary_text_color), 6px 6px 0 0 var(--primary_text_color), 7px 7px 0 0 var(--primary_text_color), 8px 8px 0 0 var(--primary_text_color), 9px 9px 0 0 var(--primary_text_color), 10px 10px 0 0 var(--primary_text_color), 11px 11px 0 0 var(--primary_text_color), 12px 12px 0 0 var(--primary_text_color);
  transform: translate(-7px, -7px);
}

#popup {
  box-shadow: 1px 1px 0 0 var(--secondary_text_color), 2px 2px 0 0 var(--secondary_text_color), 3px 3px 0 0 var(--secondary_text_color), 4px 4px 0 0 var(--secondary_text_color), 5px 5px 0 0 var(--secondary_text_color), 6px 6px 0 0 var(--secondary_text_color);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(198, 149, 149, 0.8);
  overflow: scroll;
}

#popup article {
  transition: 1sec;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto;
  padding: 12px;
  background-color: var(--primary_text_color);
}

.popup_pris {
  color: var(--secondary_text_color);
  font-size: 3rem;
  text-decoration: underline;
}

.langbeskrivelse {
  font-size: var(--p_size_popup);
  color: var(--secondary_text_color);
}

.popup_navn {
  color: var(--secondary_text_color);
  font-size: 4rem;
  text-decoration: underline;
  padding-block-end: 2rem;
}

#luk {
  position: fixed;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.popimg {
  width: 100%;
  object-fit: contain;
  align-self: center;
  aspect-ratio: 16/9;
  border-radius: 3px;
}

button:hover {
  background: Black;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  #popup article {
    width: 90vw;
  }
  button {
    margin-inline: 3px;
  }
}
nav {
  overflow: scroll;
}
